.footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.2em !default;
  $base-accent-color: $dark-green !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: desaturate(darken($base-accent-color, 10%), 50%);
  $footer-color: transparentize($base-background-color, 0.2);
  $footer-link-color: lighten($footer-color, 0.2);

  background: $footer-background;
  padding: $base-spacing;
  color: $footer-color;
  width: 100%;
  display: inline-block;

  span {
    margin-right: 0;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }

    a {
      color: $footer-link-color;

      &:focus,
      &:hover {
        border-bottom: 1px $footer-link-color solid;
      }
    }
  }

  .footer-links {
    @include media($large-screen) {
      float: right;
    }

    ul {
      -webkit-transform-style: preserve-3d; // stop webkit flicker
      clear: both;
      display: inline-block;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      width: 100%;
      z-index: 9999;

      @include media($large-screen) {
        display: inline;
        margin: 0;
        padding: 0;
      }

      li {
        display: block;
        overflow: hidden;
        z-index: 9999;
        font-size: 1em;
        float: left;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: $footer-link-color;

          &:focus,
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
