.image-banner {
  display: table;
  max-height: 120px;
  margin: 0;
  padding: 0;
  width: 100%;

  .image-banner-item {
    display: table-cell;
    vertical-align: bottom;

    .image-banner-item-container {
      height: 120px;
      overflow: hidden;

      img {
        min-height: 120px;
        @include transition (all 0.2s ease-in-out);
        width: 100%;
        @include filter(grayscale(100%));
      }
    }
  }
}
