{#
 # Event index template
 #}

{% set title = "Conversations at the Schomburg" %}
{% set seasons = craft.entries.type('seasons') %}
{% extends "_layout" %}

{% block content %}
<article>
    <header class="navigation" role="banner">
      <h1 class="page-title">{{ title }}</h1>
      <div class="navigation-wrapper">
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu-sections">Sections</a>
        <nav role="navigation">
          <ul id="js-navigation-menu-sections" class="navigation-menu show">
          {% for season in seasons %}
            <li class="nav-link"><a href="#{{ season.id }}">{{ season.title }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
      {% for season in seasons %}
      <section>
        <h2 id="{{ season.id }}">{{ season.title }}</h2>
        <div class="cards">
          {% for event in season.children %}
          <a href="{{ event.url }}">
            <div class="card">
              <div class="card-image">
                <span class="card-date"> {{ event.date  | date("M")}} {{ event.date  | date("d")}} </span>
                {% for book in event.books %}
                <div class="card-image-book">
                  <div class="card-image-book-container">
                    <img src="{{ book.getUrl('eventbannersmall') }}" alt="">
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="card-header">
                <h3> {{ event.title }} </h3>
              </div>
              <div class="card-copy">
                <ul>
                  {% for speaker in event.speakers %}
                  <li>
                  {{ speaker.title }} {# {{ speaker.affiliation }} #}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </a>
          </div>
          {% endfor %}
        </section>
      </div>
      {% endfor %}
</article>
{% endblock %}
