{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "News" %}

{% block content %}
    <h1 class="header" id="responsive-header">
      News
    </h1>

  {% for entry in craft.entries.section('news').find() %}
  <article>

    <div class="news">
    <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
    <p><i class="fa fa-clock-o"></i> {{ entry.postDate.format('F d, Y') }}</p>
      {% if entry.imagebanner is not empty %}
      <div class="horizontalimages">
        <ul class="list-unstyled">
        {% for block in entry.imagebanner.type('image') %}
        <li> <div class="img-container"> <img src="{{ block.imageasset.first().getUrl('fullWidth') }}" alt="{{ block.caption }}"/> </div> </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      {{ entry.body.getPage(1) }}
      <p><a href="{{ entry.url }}">Continue reading</a></p>
    </div>
  </article>
  {% endfor %}
{% endblock %}
