{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% set title = "News" %}
{% extends "_layout" %}

{% block content %}
  <article class="news">
    <header>
        <h1 class="page-title">News</h1>
    </header>
    <div class="cards">
      {% for entry in craft.entries.section('news').find() %}
      <div class="card">
        <a href="{{ entry.url }}">
          <div class="card-image">
            <span class="card-date"> {{ entry.postDate  | date("M")}} {{ entry.postDate  | date("d")}} {{ entry.postDate  | date("Y")}} </span>
            {% if entry.imagebanner is not empty %}
            {% for block in entry.imagebanner.type('image') %}
            <div class="card-image-book">
              <div class="card-image-book-container">
                <img src="{{ block.imageasset.first().getUrl() }}"/>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </a>
        <div class="card-header">
          <h3>{{ entry.title }}</h3>
        </div>
        <div class="card-copy">
          <p>
            {{ entry.body|hacksaw(words='100', allow='<p><b>', append = '...') }}
            <a href="{{ entry.url }}">Read</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
{% endblock %}
