{#
 # NEH Seminar 2015 template
 # ---------------
 #}

{% set title = "NEH Seminar 2015: Rethinking Black Freedom Studies from the Jim Crow North to the Jim Crow West" %}
{% extends "_layout" %}

{% block content %}
<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='9754669' data-title='{{ entry.title }}' data-link='{{ entry.url }}' style="top: 0px; position: fixed;" ></div>
<header class="navigation" role="banner">
  <div class="image-banner">
    {% for block in entry.sectionedContent.type('headerImage') %}
    <div class="image-banner-item">
      <div class="image-banner-item-container">
        <img src="{{ block.image.first().getUrl('fullWidth') }}" alt="{{ block.caption }}"/>
      </div>
    </div>
    {% endfor %}
    </ul>
  </div>
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu-sections">Sections</a>
    <nav role="navigation">
      <ul id="js-navigation-menu-sections" class="navigation-menu show">
      {% for block in entry.sectionedContent.type('textSection') %}
        <li class="nav-link"><a href="#{{ loop.index }}">{{ block.sectionHeading }}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<section id="summary">
  {{ entry.sectionedContent.type('summary').first().summary }}
</section>
<section id="page-sections">
  {% for block in entry.sectionedContent.type('textSection') %}
  <section>
    <h2 id="{{ loop.index }}">{{ block.sectionHeading }}</h2>
    {{ block.sectionContent }}
  </section>
  {% endfor %}
</section>
{% endblock %}
